{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav">
  <li><a href="/admin/home">Administration</a></li>
  <li><a href="/home">Home</a></li>
  <li><a href="/admin/mission/create">Créer une mission</a></li>
  <li><a href="/admin/mission/list">Voir les missions</a></li>
  <li  class="active"><a href="/admin/party/list">Voir les partys</a></li>
  <li><a href="/admin/user/view">Voir les utilisateurs</a></li>
</ul>

{% endblock %}

{% block body %}
    <div class="container">
    <div class="jumbotron">
        <div class="page-header">
        <h1 class="text-center text-uppercase">{{party.getName}}
            {% if party.getIsOver == true %}
            <span class="label label-default">Finie</span>
            {% endif %}
        </h1>
        {% if party.getIsOver == true %}
        <h2 class="text-center">
            Agent victorieux : {{party.getWinner.getName}}
        </h2>
        {% endif %}

        </div>
    <div class="table-responsive">
     <table class="table">
         <thead>
           <tr>
             <th class="text-center">Nom</th>
             <th class="text-center">Email</th>
             <th class="text-center">Cible</th>
             <th class="text-center">Killer</th>
             <th class="text-center">Nombre de kill</th>
             <th class="text-center">Mission</th>
           </tr>
         </thead>
         <tbody>
             {% for participant in party.getParticipants %}
             {% if participant.isAlive %}
             <tr class="success">
             {% else %}
             <tr class="danger">
             {% endif %}

               <td class="text-center">{{participant.getName}}</td>
               <td class="text-center">{{participant.getEmailAddress}}</td>
               {% if participant.isAlive %}
               <td class="text-center">{{participant.getTarget.getName}}</td>
               <td class="text-center">{{participant.getKiller.getName}}</td>
               {% else %}
               <td class="text-center">null</td>
               <td class="text-center">null</td>
               {% endif %}

               <td class="text-center">{{participant.getNumberOfKills}}</td>
               <td class="text-center">{{participant.getMission.getMissionTitle}}</td>
               <td class="text-center">
                   <div class="btn-group">

                       {% if participant.isAlive and party.getIsOver != true %}
                       <a class="btn btn-warning btn-sm" href="/admin/participant/modify/{{participant.getUid}}">Modifier</a>
                       <a class="btn btn-danger btn-sm" href="/admin/participant/kill/{{participant.getUid}}">Tuer</a>
                       {% else %}
                       <a class="btn btn-warning btn-sm disabled" href="/admin/participant/modify/{{participant.getUid}}">Modifier</a>
                       <a class="btn btn-danger btn-sm disabled" href="/admin/participant/kill/{{participant.getUid}}">Tuer</a>
                       {% endif %}
                    </div>
                </td>
             </tr>
             {% endfor %}
        </tbody>
     </table>
    </div>
    </div>
    </div>

{% endblock %}
