{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav">
  <li><a href="/home">Home</a></li>
  <li class="active"><a href="/party/create">Créer une Party</a></li>
</ul>

<form class="navbar-form navbar-left" action="">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Voir une Party">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-list-alt"></i>
            </button>
        </div>
    </div>
</form>
<form class="navbar-form navbar-left" action="">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Voir un profil">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default">
                <i class="glyphicon glyphicon-file"></i>
            </button>
        </div>
    </div>
</form>

{% if app.session.get("user") and app.session.get("user").getIsAdmin() %}
<a type="button" class="btn btn-danger navbar-btn" href="/admin/home">Admin</a>
{% endif %}
{% endblock %}

{% block body %}
<div class="container">
<div class="jumbotron">
{{ form_start(form) }}
    {# render the task's only field: description #}
    <div class="input-group input-group-lg">
    <span class="input-group-addon">Nom de la partie</span> {{ form_widget(form.name) }}
    </div>

    <h3 class="text-center">{{ form_row(form.startingDate) }}</h3>
    <h3>Participants</h3>
    <ul class="list-group tags" data-prototype="{{ form_widget(form.participants.vars.prototype)|e('html_attr') }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for tag in form.participants %}
            <li class="list-group-item">
                <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> {{ form_widget(tag.name) }}
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> {{ form_widget(tag.emailAddress) }}
                </div>
        </li>
        {% endfor %}
    </ul>
    <div class="text-center">{{ form_widget(form.save) }}</div>
{{ form_end(form) }}
</div>
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script>
    var $collectionHolder;

    // setup an "add a tag" link
    var $addTagButton = $('<button type="button" class="add_tag_link btn btn-default">Ajouter un Participant</button>');
    var $newLinkLi = $('<li></li>').append($addTagButton);

    jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.tags');

    $collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });
    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addTagButton.on('click', function(e) {
        // add a new tag form (see next code block)
        addTagForm($collectionHolder, $newLinkLi);
    });
    });

    function addTagForm($collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    // You need this only if you didn't set 'label' => false in your tags field in TaskType
    // Replace '__name__label__' in the prototype's HTML to
    // instead be a number based on how many items we have
    // newForm = newForm.replace(/__name__label__/g, index);

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    addTagFormDeleteLink($newFormLi);
    $newLinkLi.before($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormButton = $('<button type="button" class="btn btn-danger">Retirer</button>');
    $tagFormLi.append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
</script>
{% endblock %}
