{% extends 'jdcbase.html.twig' %}

{% block title %}Jeu de société{% endblock %}


{% block body %}
    <div class="container">
    <div class="jumbotron">
        <div class="page-header">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img class="img-rounded img-responsive" src="/uploads/gamePicture/{{jeu.getPicture}}"></img>

                    <p class="well">{{jeu.getPrice|number_format(2, ',', '.')}}€</p>
                    <p class="well">De {{jeu.getMinPlayer}} à {{jeu.getMaxPlayer}} joueurs</p>
                    {% if jeu.getShopLink != null %}
                    <a class="btn btn-info btn-lg" target="_blank" href="{{jeu.getShopLink}}">Voir en magasin
                        {% if jeu.getAvailable %}
                        <span class="label label-success">Disponible</span>
                        {% else %}
                        <span class="label label-danger">Indisponible</span>
                        {% endif %}
                    </a>
                    {% else %}
                    <a class="btn btn-info btn-lg disabled">Voir en magasin</a>
                    {% endif %}

                </div>
                <div class="col-md-8">
                    <h1 class="text-uppercase">{{jeu.getName}}</h1>
                    <p class="lead">{{jeu.getDescription}}</p>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
